{% extends 'base.html' %}

{% block title %}
Explore
{% endblock %}

{% block content %}

<h2 class="text-center mb-4">
    Trending Playlists
</h2>

<div class="row">

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/300/200?1" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Top Hits</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/300/200?2" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Workout Mix</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/300/200?3" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Chill Vibes</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/300/200?4" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Party Mix</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/300/200?5" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Romantic Songs</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/300/200?6" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Lo-Fi Beats</h5>
            </div>
        </div>
    </div>

</div>

{% endblock %}